{% extends "base.html" %}

{% block content %}
<h1 align="center">Works log</h1>
{% for item in jobs%}
<h2>Action # {{item.id}}</h2>
<table border="1" width="100%">
    <thead>
        <tr style="background:#bdbdbdcd;">
            <th scope="col">Title of activity</th>
            <th scope="col">Team leader</th>
            <th scope="col">Duration</th>
            <th scope="col">List of collaborators</th>
            <th scope="col">is_finished</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background:#7eed90cd;">
            <td>{{item.job}}</td>
            <td>{{item.user.surname}} {{item.user.name}}</td>
            <td>{{item.work_size}} hours</td>
            <td>{{item.collaborators}}</td>
            {% if item.is_finished == True %}
                <td style="background:#7eed90cd;">Finished</td>
            {% else %}
                <td style="background:#ffa15ecd">Is not finished</td>
            {% endif %}
        </tr>
    </tbody>
</table>
{% endfor %}
{% endblock %}